// EPO specific variables

// Colors of dossiers (EP, PCT, nationals etc.)

$epo-color-dossier-ep: 		  #a1d5f7; // EP Direct
$epo-color-dossier-europct: #e3dfcf; // Euro PCT
$epo-color-dossier-pct: 	  #f1b80c; // PCT
$epo-color-dossier-bo:	 	  #0076d1; // Belgium (WAS: #1244A5)
$epo-color-dossier-co:	 	  #ddd;    // Cypress
$epo-color-dossier-fa:	 	  #96d2fc; // France
$epo-color-dossier-go:	 	  #f5e63d; // Greece
$epo-color-dossier-io:	 	  #b49f87; // Italy
$epo-color-dossier-lo:	 	  #57d4c4; // Luxembourg
$epo-color-dossier-no:	 	  #f06c1a; // Netherlands
$epo-color-dossier-mo:	 	  #6e5231; // Malta (WAS: #745734)
$epo-color-dossier-sn:	 	  #0db20d; // SN


// Special cases

$epo-color-dossier-fs:	 	#d44022; // France (red stripe)
$epo-color-dossier-to:	 	#df0808; // Turkey (red border only)
$epo-color-dossier-lt:	 	#006a44; // Lithuania (green border only)



// Phases

$epo-color-phase-search: 		  $epo-color-dossier-bo; // WAS: #BADDE8;
$epo-color-phase-examination: $epo-color-dossier-bo; // WAS: #BADDE8;
$epo-color-phase-opposition:	$epo-color-dossier-sn; // WAS: #9FCC6F;
$epo-color-phase-appeal: 		  $epo-color-dossier-to; // WAS: #BA000D;
$epo-color-phase-limitation:  $epo-color-dossier-mo; // WAS: #B47038;


// Doccodes (indicators)
$epo-color-indicator-null:      $color-blue-500;
$epo-color-indicator-abex:      $color-purple-500;
$epo-color-indicator-seca:      $color-orange-500;
$epo-color-indicator-doublure:  $color-yellow-500;
$epo-color-indicator-clms: 			$color-blue-500;
