# Old ignore, to be cleaned up
.sass-cache/
.Trashes/
.DS_Store/
assets/stylesheets/
Thumbs.db
Desktop.ini
config.codekit


# Logs
logs
*.log

# Dependency directory
node_modules/

# Output from build - ignore for now, probably include in future
public/