<ul class="list-menu">
    <li class="color-blue">
        <a href="#">Getting Started</a>
        <ul class="list-submenu">
            <li><a href="#">Installation</a></li>
            <li><a href="#">How to Use the <abbr title="UI Pattern Library">UIPL</abbr></a></li>
            <li><a href="#">Style Guide</a></li>
        </ul>
    </li>
    <li class="color-cyan">
        <a href="#">Foundations</a>
        <ul class="list-submenu">
            <li><a href="#">Variables</a></li>
            <li><a href="#">Colors</a></li>
            <li><a href="#">Icons</a></li>
            <li><a href="#">Typography</a></li>
            <li><a href="#">Grids &amp; Layout</a></li>
            <li><a href="#">HTML Semantics</a></li>
            <li><a href="#">Z-index Stack</a></li>
        </ul>
    </li>
    <li class="color-green">
        <a href="#">Components</a>
        <ul class="list-submenu">
            <li><a href="#">Buttons</a></li>
            <li><a href="#">Forms</a></li>
            <li><a href="#">Dropdowns</a></li>
            <li><a href="#">Labels</a></li>
            <li><a href="#">Tables</a></li>
            <li><a href="#">Containers</a></li>
            <li><a href="#">Navigation</a></li>
            <li><a href="#">Navigation</a></li>
        </ul>
    </li>
    <li class="color-yellow">
        <a href="#">Collections</a>
        <ul class="list-submenu">
            <li><a href="#">Task Snippets</a></li>
            <li><a href="#">Trays</a></li>
            <li><a href="#">Dossier Preview Tabs</a></li>
        </ul>
    </li>
    <li class="color-orange">
        <a href="#">Pages</a>
        <ul class="list-submenu">
            <li><a href="#">Work Space</a></li>
            <li><a href="#">Work Manager</a></li>
            <li><a href="#">WM Stock Management</a></li>
        </ul>
    </li>
    <li class="divider"></li>
    <li class="color-red">
        <a href="#">Prototype</a>
    </li>
    <li class="divider"></li>
    <li class="color-purple">
        <a href="#">Resources</a>
        <ul class="list-submenu">
            <li><a href="#">Accessibility guidelines</a></li>
            <li><a href="#">Design tools</a></li>
            <li><a href="#">Design guidelines</a></li>
            <li><a href="#">Development tools</a></li>
            <li><a href="#">Development guidelines</a></li>
            <li><a href="#">Miscellaneous</a></li>
        </ul>
    </li>
</ul>