@import 'vendors/normalize/normalize';
@import 'vendors/icons/font-icons';

@import 'helpers/color-scale';


// overrides:
$color-gray-lighter:    #CACDCF;
$color-gray-lightest:   #FCFCFC;


@import 'helpers/type';
@import 'helpers/z-scale';
@import 'helpers/borders-round-scale';
@import 'helpers/shadows';

@import 'base/base';
@import 'base/links';
@import 'base/typography';
@import 'base/labels';
@import 'base/forms';
@import 'base/tables';
@import 'base/universal';
// @import '../fonts/icomoon/icon-font.css';

@import "components/buttons";
@import 'components/containers';
@import 'components/dropdowns';

// Collections
@import 'collections/coverpage/comments';
@import 'collections/coverpage/metadata';
@import 'collections/coverpage/tasks';

// Client specific items
@import 'epo/variables';
@import 'epo/classes';
@import 'epo/placeholders';


// Variables
$col-nav-primary:           64px;
$col-nav-helper: 	        64px;
$col-cover-page-main:       60%;
$col-cover-page-secondary:  40%;
$gutter:                    16px;


// Ungrid
@media (min-width: 30em) {
  .row { width: 100%; display: table; table-layout: fixed; }
  .col { display: table-cell; }
}



// Page layout
.col {
    vertical-align: top;
    // anything for non-width:30em ?

    &.col-primary-nav {
        width: $col-nav-primary + $gutter;
    }
    &.col-helper {
        width: $col-nav-helper;
    }
}


// Cover page
.col {
    &.col-cover-page {
        display: block;
    }
}

@media (min-width: 80em) {
    .col {
        &.col-cover-page {
            display: table-cell;
        }
        &.col-cover-page.col-main {
            padding-right: $gutter;
            width: $col-cover-page-main;
        }
        &.col-cover-page.col-secondary {
            width: $col-cover-page-secondary;
        }
    }
}



// Navigation
.nav {
    height: 100%;
    vertical-align: top;
}

// Primary Nav
.nav-primary {
    background: $color-gray-lighter;
    position: relative;
    width: $col-nav-primary;
    z-index: index($ui-levels, primary-nav);

    .button {
        // line-height: $col-nav-primary;
        min-height: $col-nav-primary;
        position: relative;
        width: $col-nav-primary;


        .icon {
            @include type-larger;
            line-height: $col-nav-primary;
        }

        &.is-active {
            background: $color-gray-lightest;

            &:focus,
            &:hover {
                color: $color-blue-base;
            }
        }

        .button-label {
            @include borders-rounder;
            @include shadow-z-2;
            @include type-base;
            font-weight: bold;
            height: $col-nav-primary / 3;
            left: $col-nav-primary + 5px;
            line-height: $col-nav-primary / 3;
            margin-top: -1 * ($col-nav-primary / 4);
            min-width: $col-nav-primary;
            padding: 0 5px;
            top: $col-nav-primary / 2;
            white-space: nowrap;
            width: auto;
        }
        &:focus,
        &:hover {
            .button-label {
                background: $color-blue-light;
                color: $color-white;
                visibility: visible;
            }
        }
    }

    .dossier-info {
        @include type-smallest;
        color: $color-gray-darker;

        .dossier-id {
            display: block;
            font-weight: bold;
        }
        .role {
            display: block;
            // @include type-smallest;
            margin-top: .5em;
        }
    }

    .divider {
        background: $color-gray-400;
        height: 1px;
    }
}


// Generic nav
ul.nav-buttons {
	list-style: none;
	margin: 0;
	padding: 0;
}


// Helpers
// General helpers
.nav-helper {
    .button-label {
        right: -999px;
    }
}


.helper-buttons {
    text-align: right;

    .button {
        @include borders-beginning-cap;
        @include type-large;
        margin: .25em 0;
        height: 2em;
        width: 2em;
    }
}



