@import '../sass/base/normalize.css';
@import '../fonts/fonts';

@import 'helpers/color-scale';

// overrides:
$color-gray-lighter:    #CACDCF;
$color-gray-lightest:   #FCFCFC;


@import 'helpers/type';
@import 'helpers/z-scale';
@import 'helpers/borders-round-scale';
@import 'helpers/shadows';

@import 'base/base';
@import 'base/links';
@import 'base/typography';
@import 'base/labels';
@import 'base/forms';
@import 'base/tables';
@import '../fonts/icomoon/icon-font.css';

@import "components/buttons";


// Variables
$col-nav-primary:   64px;
$col-nav-helper: 	64px;


// Ungrid
@media (min-width: 30em) {
  .row { width: 100%; display: table; table-layout: fixed; }
  .col { display: table-cell; }
}


// Navigation
.nav {
    vertical-align: top;
}

// Primary Nav
.nav-primary {
	background: $color-gray-lighter;
	width: $col-nav-primary;

    .button {
        .icon {
            @include type-larger;
        }
    }
}


// Generic nav
ul.nav-buttons {
	list-style: none;
	margin: 0;
	padding: 0;
}


// Helpers
// General helpers
.nav-helper {
    width: $col-nav-helper;
}


.helper-buttons {
    text-align: right;

    .button {
        @include borders-beginning-cap;
        @include type-large;
        margin: .25em 0;
        height: 2em;
        width: 2em;
    }
}



