@import 'vendors/normalize/normalize';
@import 'vendors/icons/font-icons';

@import 'helpers/color-scale';


// overrides:
$color-gray-lighter:    #CACDCF;
$color-gray-lightest:   #FCFCFC;


@import 'helpers/type';
@import 'helpers/z-scale';
@import 'helpers/borders-round-scale';
@import 'helpers/shadows';

@import 'base/base';
@import 'base/links';
@import 'base/typography';
@import 'base/labels';
@import 'base/forms';
@import 'base/tables';
@import 'base/universal';
// @import '../fonts/icomoon/icon-font.css';

@import "components/buttons";
@import 'components/panels';

// Client specific items
@import 'epo/variables';
@import 'epo/classes';


// Variables
$col-nav-primary:   64px;
$col-nav-helper: 	64px;
$gutter:            16px;


// Ungrid
@media (min-width: 30em) {
  .row { width: 100%; display: table; table-layout: fixed; }
  .col { display: table-cell; }
}



// Page layout
.col {
    vertical-align: top;
    // anything for non-width:30em ?

    &.col-primary-nav {
        width: $col-nav-primary + $gutter;
    }
    &.col-helper {
        width: $col-nav-helper;
    }
}




// Navigation
.nav {
    height: 100%;
    vertical-align: top;
}

// Primary Nav
.nav-primary {
    background: $color-gray-lighter;
	width: $col-nav-primary;

    .button {
        min-height: $col-nav-primary;
        position: relative;
        width: $col-nav-primary;


        .icon {
            @include type-larger;
        }

        &.is-active {
            background: $color-gray-lightest;

            &:focus,
            &:hover {
                color: $color-blue-base;
            }
        }

        .button-label {
            padding: 2px 5px;
            top: $col-nav-primary / 2;
            margin-top: -1 * ($col-nav-primary / 4);
            line-height: $col-nav-primary;
            left: $col-nav-primary;
            white-space: nowrap;
            width: auto;
        }
        &:focus,
        &:hover {
            .button-label {
                background: $color-blue-light;
                visibility: visible;
            }
        }
    }

    .dossier-info {
        @include type-smallest;
        color: $color-gray-darker;

        span {
            display: block;
        }
        .dossier-id {
            font-weight: bold;
        }
        .role {
            // @include type-smallest;
            margin-top: .5em;
        }
    }
}


// Generic nav
ul.nav-buttons {
	list-style: none;
	margin: 0;
	padding: 0;
}


// Helpers
// General helpers
.nav-helper {
}


.helper-buttons {
    text-align: right;

    .button {
        @include borders-beginning-cap;
        @include type-large;
        margin: .25em 0;
        height: 2em;
        width: 2em;
    }
}



