// Standard buttons

.button {
  @include borders-round;
  @include type-smaller;
  @include shadow-base($color-gray-300);
  background: $color-gray-100;
  border: 0;
  color: $color-gray-700;
  display: inline-block;
  padding: 5px 9px;
  text-align: center;
  text-decoration: none;
  transition: background-color 20ms ease, color 20ms ease;

  &:focus,
  &:hover {
    background: $color-white;
    color: $color-gray-900;
  }

  &:active {
    @include shadows-none;
    position: relative;
    top: 1px;
  }

// Style variations of .button

  // Primary button (blue)
  &.button-primary {
    @include shadow-base($color-blue-600);
    background: $color-blue-600;
    color: $color-white;

    &:focus,
    &:hover {
      background: $color-blue-500;
      color: $color-white;
    }

    &:active {
      @extend .button:active;
    }

    // &.is-active,
    // &.is-active:focus,
    // &.is-active:hover {
    //  @extend .button.is-active;
    //  color: $color-blue-600;
    // }
  }

  // Success (green)

  &.button-success {
    @include shadow-base($color-green-700);
    background: $color-green-600;
    color: $color-white;

    &:focus,
    &:hover {
      background: $color-green-500;
      color: $color-white;
    }

    &:active {
      @extend .button:active;
    }

    // &.is-active,
    // &.is-active:focus,
    // &.is-active:hover {
    //  @extend .button.is-active;
    // }
  }

  // Warning (orange)

  &.button-warning {
    @include shadow-base($color-orange-700);
    background: $color-orange-600;
    color: $color-white;

    &:focus,
    &:hover {
      background: $color-orange-500;
      color: $color-white;
    }

    &:active {
      @extend .button:active;
    }

    // &.is-active,
    // &.is-active:focus,
    // &.is-active:hover {
    //  @extend .button.is-active;
    // }
  }

  // Danger (red)

  &.button-danger {
    @include shadow-base($color-red-700);
    background: $color-red-600;
    color: $color-white;

    &:focus,
    &:hover {
      background: $color-red-500;
      color: $color-white;
    }

    &:active {
      @extend .button:active;
    }

    // &.is-active,
    // &.is-active:hover,
    // &.is-active:hover {
    //  @extend .button.is-active;
    // }
  }

  // Info (cyan)

  &.button-info {
    @include shadow-base($color-cyan-700);
    background: $color-cyan-600;
    color: $color-white;

    &:focus,
    &:hover {
      background: $color-cyan-700;
      color: $color-white;
    }

    &:active {
      @extend .button:active;
    }

    // &.is-active,
    // &.is-active:hover {
    //  @extend .button.is-active;
    // }
  }

  // Inverse (black)

  &.button-inverse {
    @include shadow-base($color-black);
    background: $color-black;
    color: $color-white;

    &:focus,
    &:hover {
      background: $color-black;
      color: $color-white;
    }

    &:active {
      @extend .button:active;
    }

    // &.is-active,
    // &.is-active:hover {
    //  @extend .button.is-active;
    // }
  }


// Size variations of .button

  &.button-large {
    @include type-large;
    padding: 5px 15px;
  }

  &.button-small {
    @include type-smallest;
    box-shadow: none;
    padding: 2px 6px;

    &:active {
      position: static;
    }
  }



// State variations


  // active state
  &.is-active,
  &.is-active:hover {
    @include shadow-base($color-gray-700);
    background: $color-gray-700;
    color: $color-white;

    &:active {
      @extend .button:active;
    }
  }

  // disabled state
  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:active {
    background: $color-gray-100;
    color: $color-gray-400;
    cursor: not-allowed;

    &:active {
      @include shadow-base($color-gray-200);
      position: static;
    }
  }
}


// Button icons
.icon {
  // icomoon default .icon properties

  .button & {
    @include type-small;
    line-height: 1;
    position: relative;
    top: .09rem;
  }

  .button-large & {
    @include type-base;
    line-height: 1;
    margin: 0 .10rem;
  }
}

// Icon-only buttons hide label
//
// .button-icon-only    for individual buttons
// .icon-only .button   for a parent element (group, list, tabs)

.button-icon-only,
.icon-only .button {
  padding: 5px 11px;
}

.button-icon-only .button-label,
.icon-only .button-label {
  position: absolute;
  visibility: hidden;
}

// Button groups

.button-group {
  overflow: auto;
  width: auto;
}

.button-group .button {
  @include borders-square;
  border-right: 1px solid $color-gray-500;
  float: left;
  margin-bottom: 1px;

  &:first-child {
    @include borders-beginning-cap;
  }

  &:last-child {
    @include borders-end-cap;
    border-right: 0;
  }
}

.button-group-tabs,
.button-group-clear {
  @include shadows-none;
  overflow: auto;
}

.button-group-clear .button {
  background: none;
  border: 0;
  margin-right: .25rem;
}

.button-group-clear .button-primary {
  color: $color-blue-600;
}

// For buttons in toolbars

.toolbar .button-group {
  float: right;
  margin: 5px 12px 0 0;
}

.toolbar .button-group:first-child {
  margin-right: 0;
}

// Button tabs

.button-group.button-group-tabs {
  border-bottom: 1px solid $color-gray-400;
  display: table;
  list-style: none;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: 100%;

  li {
    float: left;
  }

  li:last-child .button {
    margin-right: 0;
  }

  .button {
    @include borders-tab;
    @include shadows-none;
    border: 0;
    display: block;
    float: none;
    margin-bottom: 0;
    margin-right: 8px;

    &:active {
      position: static;
    }

    &.is-active,
    &.is-active:hover {
      background: $color-white;
      border: 1px solid $color-gray-500;
      border-bottom: 0;
      color: $color-gray-900;
      margin-bottom: -1px;
    }
  }
}

// Buttons in nav
.nav-buttons {

  .button {
    @include borders-square;
    @include shadows-none;

    background: $color-gray-300;

    &:focus,
    &:hover {
      background: $color-blue-500;
      color: $color-white;
    }
  }
}
