.comments {
    height: calc(35vh - 80px);
    // overflow: hidden;

	h6 {
		font-weight: bold;
		margin: 0;
		padding: 4px 0 0;
	}
	p {
		margin: 0;
	}
	.comment {
		clear: both;
		margin: 8px 0;
	}
	.icon-comment {
		@include type-base;
		color: $color-gray-500;
		float: left;
		margin-right: 4px;
	}

	.add-comment {
		height: 90px;
	}

    .comment-thread {
      height: calc(35vh - 80px - 90px - 10px);
      overflow: hidden;
    }
    .comment-thread-list {
    	height: 100%;
    	overflow: scroll;
    }

}
.add-comment {
	label {
		visibility: hidden;
		position: absolute;
	}
	textarea {
		height: 3em;
		resize: none;
		width: 100%;
	}
}