// Standard buttons

.button {
	@include borders-round;
	@include type-smaller;
	@include shadow-base($color-gray-lightest);
	display: inline-block;
	padding: 5px 9px;
	text-decoration: none;
	border: none;
	background: $color-gray-lightest;
	color: $color-gray-darkest;

	&:focus,
	&:hover {
		background: $color-bright;
		color: $color-gray-darkest;
	}

	&:active {
		@include shadow-none;
		position: relative;
		top: 1px;
	}
}

// Style variations of .button

.button {
	// Primary button (blue)
	&.button-primary {
		@include shadow-base($color-blue-base);
		background: $color-blue-base;
		color: $color-white;

		&:focus,
		&:hover {
			background: $color-blue-light;
			color: $color-white;
		}

		&:active {
			@extend .button:active;
		}

		&.is-active,
		&.is-active:hover {
			@extend .button.is-active;
		}
	}

	// Success (green)

	&.button-success {
		@include shadow-base($color-green-base);
		background: $color-green-base;
		color: $color-white;

		&:focus,
		&:hover {
			background: $color-green-light;
			color: $color-white
		}

		&:active {
			@extend .button:active;
		}

		&.is-active,
		&.is-active:hover {
			@extend .button.is-active;
		}
	}

	// Warning (orange)

	&.button-warning {
		@include shadow-base($color-orange-base);
		background: $color-orange-base;
		color: $color-white;

		&:focus,
		&:hover {
			background: $color-orange-light;
			color: $color-white
		}

		&:active {
			@extend .button:active;
		}

		&.is-active,
		&.is-active:hover {
			@extend .button.is-active;
		}
	}

	// Danger (red)

	&.button-danger {
		@include shadow-base($color-red-base);
		background: $color-red-base;
		color: $color-white;

		&:focus,
		&:hover {
			background: $color-red-light;
			color: $color-white
		}

		&:active {
			@extend .button:active;
		}

		&.is-active,
		&.is-active:hover {
			@extend .button.is-active;
		}
	}

	// Info (cyan)

	&.button-info {
		@include shadow-base($color-cyan-base);
		background: $color-cyan-base;
		color: $color-white;

		&:focus,
		&:hover {
			background: $color-cyan-light;
			color: $color-white
		}

		&:active {
			@extend .button:active;
		}

		&.is-active,
		&.is-active:hover {
			@extend .button.is-active;
		}
	}

	// Inverse (black)

	&.button-inverse {
		@include shadow-base($color-black);
		background: $color-black;
		color: $color-white;

		&:focus,
		&:hover {
			background: $color-black;
			color: $color-white
		}

		&:active {
			@extend .button:active;
		}

		&.is-active,
		&.is-active:hover {
			@extend .button.is-active;
		}
	}
}

// Size variations of .button
.button {
	&.button-large {
		@include type-large;
		padding: 5px 15px;
	}

	&.button-small {
		@include type-smallest;
		box-shadow: none;
		padding: 2px 6px;

		&:active {
			position: static;
		}
	}

}

// State variations

.button {
	// active state
	&.is-active,
	&.is-active:hover {
		@include shadow-base($color-gray-darker);
		background: $color-gray-darker;
		color: $color-white;

		&:active {
			@extend .button:active;
		}
	}

	// disabled state
	&.is-disabled,
	&.is-disabled:hover,
	&.is-disabled:active {
		cursor: not-allowed;
		background: $color-bright;
		color: $color-gray-light;

		&:active {
			@include shadow-base($color-gray-lightest);
			position: static;
		}
	}
}


// Button icons

.tpIcon {
	// icomoon default .icon properties

	.button & {
		@include type-small;
		line-height: 1;
		position: relative;
		top: 0.09rem;
	}

	.button-large & {
		@include type-base;
		line-height: 1;
		margin: 0 0.10rem
	}
}

// Hides label for icon-only buttons

.button-icon-only {
	padding: 5px 11px;
}

.button-icon-only span.button-label {
	display: none;
}

// Button groups

.button-group {
	width: auto;
	overflow: auto;
	margin-bottom: 20px;
}

.button-group .button {
	@include borders-square;
	float: left;
	border-right: 1px solid $color-gray-light;
	margin-bottom: 1px;
}

.button-group .button:first-child {
	@include borders-beginning-cap;
}

.button-group .button:last-child {
	border-right: 0;
	@include borders-end-cap;
}

.button-group-clear, .button-group-tabs {
	@include shadow-none;
	overflow: auto;
}

.button-group-clear .button {
	background: none;
	border: none;
	margin-right: 0.25rem;
}

.button-group-clear .button-primary {
	color: #5E90DB;
}

.button-group-tabs {
	border-bottom: 1px solid $color-gray-light;
	overflow: hidden;
}

.button-group.button-group-tabs .button {
	@include borders-tab;
	@include shadow-none;
	float: none;
	display: inline-block;
	margin-right: 8px;
	border-right: none;

	&.is-active,
	&.is-active:hover {
		background: $color-white;
		color: $color-gray-darkest;
	}
}





