button, .button {
	@include borders-round;
	@include font-regular;
	@include type-smaller;
	
	background: #D5D8DD;
	color: #4E5A6B;

	display: inline-block;
	padding: 0.25rem .5rem;
	text-decoration: none;

	border: none;
}