// Standard buttons

.button {
	@include borders-round;
	@include font-regular;
	@include type-smaller;
	display: inline-block;
	padding: 0.25rem 0.5rem;
	text-decoration: none;
	border: none;

	background: #D5D8DD;
	color: #4E5A6B;

	background-image: none !important;
}

.button:hover {
	background: #DCDEE3;
	color: #4E5A6B;
}

.button-primary {
	background: #5E90D8;
	color: #fff;
}

.button-primary:hover {
	background: #72A0E4;
	color: #fff;
}

.button-large {
	@include type-base;
	padding: 0.25rem 0.75rem;
}

// Button icons

.button .tpIcon {
	position: relative;
	top: 0.09rem;
	@include type-small;
	line-height: 1;
}

.button-large .tpIcon {
	@include type-base;
	line-height: 1;
	margin: 0 0.10rem
}

// Hides label for icon-only buttons

.button-icon-only {
	padding: 0.25rem;
}

.button-icon-only span {
	display: none; 
}

// Button groups

.button-group {
	margin-bottom: 20px;
	clear: both;
	overflow: auto;
}

.button-group .button {
	float: left;
	@include borders-square;
	border-right: 1px solid #C8C8C8;
}

.button-group .button:first-child {
	@include borders-beginning-cap;
}

.button-group .button:last-child {
	border-right: 0;
	@include borders-end-cap;
}

.button-group-clear .button {
	background: none;
	border: none;
	margin-right: 0.25rem;
}

.button-group-clear .button-primary {
	color: #5E90DB;
}

.button-group-tabs {
	border-bottom: 1px solid #D5D8DD;
}

.button-group.button-group-tabs .button {
	@include borders-tab;
	margin-right: 0.25rem;
	border-right: none;
}

// States 

.is-active,
.is-active:hover,
.button:active {
	background: #4E5A6B;
	color: #ffffff;
}

.is-disabled,
.is-disabled:hover,
.is-disabled:active {
	cursor: not-allowed;
	background: #D5D8DD;
	color: #93A0B4;
}



