.container {
	@include borders-round;
	background: $color-white;
	border: 1px solid $color-gray-lighter;
	margin: 8px 0 0;
	padding: 8px;
	position: relative;

	&.with-header {
		margin-top: 36px;
	}
	.container-header {
		margin: -36px 0 0 -8px;
		position: absolute;
	}

	&.no-border {
		background: none;
		border: 0;
		padding: 0;
	}

	.row {
		margin-bottom: 4px;
	}
	.with-bottom-divider {
		border-bottom: 1px solid $color-gray-lighter;
		padding-bottom: 0.5rem;
	}
}