
.dropdown {
	position: relative;
}

// select dropdown
.ui-select {
	cursor: pointer;
	display: block;
	opacity: 0;
	height: 20px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: index($ui-levels, dropdowns);

	@include borders-round;
	overflow: hidden;

	&:focus  ~ .ui-select-label,
	&:hover  ~ .ui-select-label,
	&:active ~ .ui-select-label {
		background: $color-blue-light;
		border: 1px solid $color-blue-light;
		color: $color-white;
		outline: none;
	}
}

.ui-select-label {
	@include borders-rounder;
	@include shadows-none;
	@include type-smallest;
	background: $color-blue-lighter;
	border: 1px solid $color-gray-base;
	border-color: $color-gray-400 $color-gray-base $color-gray-base $color-gray-400;
	display: block;
	height: 20px;
	line-height: 18px;
	padding: 0 4px;
	text-align: left;
	transition: background-color 20ms ease, color 20ms ease;
	width: 100%;

	.selected-option {
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}

	.icon-down {
		color: inherit;
		display: inline-block;
		position: absolute;
		right: 4px;
		text-align: center;
		top: .125em;
	}
}