.form-control {
	margin-bottom: 1rem;
}

.form-control label,
input,
textarea,
select {
	@include font-regular;
	@include type-smaller;
	margin-bottom: .5rem;
}

.form-control label {
	display: block;
}

// for labels that are adjacent to other labels
// or checkboxes/radio, show those inline 

.form-control label + label,
input[type="checkbox"] + label,
input[type="radio"] + label {
	margin-left: 0.25rem;
	display: inline-block;
}

input[type="radio"] {
	margin-left: 0.33rem;
}


input[type="text"],
textarea, {
	@include borders-round;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	padding: 0.25rem;
	width: 25%;
}

textarea {
	height: 5rem;
}

// Validation

.error,
input[type="text"].error {
	border: 1px solid #f00;
}

label.error {
	border: none;
	color: #f00;
}
