a {
	color: $color-blue-base;

	&:focus,
	&:hover {
		color: $color-blue-light;
	}

	&:active {
		color: $color-blue-dark;
	}
}

a.unobtrusive {
	color: $color-gray-light;

	&:focus,
	&:hover {
		color: $color-blue-base;
	}
	&:active {
		color: $color-gray-dark;
	}
}