table {
	@include font-regular;
	@include type-base;
	border: 1px solid #cecece;
	background: #fff;
	overflow: auto;
	width: 100%;
	margin: 20px 0;
}

tr {
	border-bottom: 1px solid #cecece;
}

td {
	padding: 0.5rem;
	border-right: 1px solid #cecece;
}

thead td {
	background: #eee;
}
