table {
	@include type-smaller;
	border: 1px solid $color-gray-lighter;
	background: none;
	overflow: auto;
	width: 100%;
	margin: 20px 0;
}

tr {
	// border-bottom: 1px solid $color-gray-light;
}

tr:nth-child(even) td {
	background: rgba($color-gray-lighter, .5);
}

th,
td {
	padding: 2px 4px;
	text-align: left;
	// border-right: 1px solid $color-gray-lighter;

	// &:last-child {
	// 	border: 0;
	// }
}

thead th {
	background: $color-gray-base;
	color: $color-white;
}
