// Foundational Typography

html,
body {
	font: 16px / 1.3125 'Source Sans Pro', 'Helvetica Neue', Verdana, sans-serif;
}

code,
samp,
kbd,
var,
pre {
	font: 15px / 1.33333333333 'Source Code Pro', Monaco, Menlo, Consolas, "Courier New", monospace;
}

h1 {
	@include type-largest;
	font-weight: 600;
	margin: 40px 0 10px;
}

h2 {
	@include type-larger;
	font-weight: 700;
	margin: 40px 0 10px;
}

h3 {
	@include type-large;
	font-weight: 700;
	// font-style: italic;
	margin: 40px 0 10px;
}

h4 {
	@include type-base;
	font-weight: 700;
	// font-style: italic;
	letter-spacing: .5px;
	margin: 40px 0 10px;
}

h5 {
	@include type-small;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .25px;
	margin: 40px 0 10px;
}

h6 {
	@include type-smaller;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .5px;
	margin: 40px 0 10px;
}

p {
	@include type-base;
	letter-spacing: 0.125px;
	margin: 10px 0;
}

strong {
	@include type-base;
	font-weight: 700;
}

em,
strong em {
	@include type-base;
	font-style: italic;
}

u {
	@include type-base;
	text-decoration: none;
	background-image: linear-gradient(to top,
    rgba(0,0,0,0) 10%,
    rgba(0,0,0,.5) 18%,
    rgba(0,0,0,.5) 14%,
    rgba(0,0,0,0) 15%
    );
}

// Base links

p a {
	@include type-base;
	color: $color-blue-base;
	text-decoration: none;
	background-image: linear-gradient(to top,
    rgba( $color-blue-base, 0 ) 10%,
    rgba( $color-blue-base, .4) 10%,
    rgba( $color-blue-base, .4) 15%,
    rgba( $color-blue-base, 0) 15%
    );
}

p a:hover {
	color: $color-blue-dark;
	background-image: linear-gradient(to top,
    rgba( $color-blue-dark, 0) 10%,
    rgba( $color-blue-dark, 1) 10%,
    rgba( $color-blue-dark, 1) 15%,
    rgba( $color-blue-dark, 0) 15%
    );
}

a:active {
	color: #0709A0;
}

// Extra styles

pre.prettyprint {
	@include borders-round;
	@include type-small;
	padding: 0.15rem 0.25rem;
	margin: 2rem 0 1rem;
	line-height: 1.6;
	border: 1px solid $color-gray-lightest;
	background: #fff;
	var,
	var span {
		@include type-base;
		color: $color-purple-dark;
	}

	&:first-of-type {
		margin-top: 10px;
	}
}

pre.prettyprint .atv {
	color: $color-red-base;
}

var,
code {
	@include borders-round;
	font-size: inherit;
	border: 1px solid $color-purple-light;
	background-color: rgba($color-purple-lightest, .2);
	color: $color-purple-dark;
	display: inline-block;
	padding: 0 5px;
	margin: 0 2px;
}

code {
	background-color: rgba($color-bright, 0.5);
	border-color: $color-gray-lightest;
	color: $color-red-base;
}

hr {
	border: none;
	border-bottom: 1px solid $color-gray-lighter;
}
