// Foundational Typography

h1 {
	@include font-medium;
	@include type-largest;
}

h2 {
	@include font-bold;
	@include type-larger;
}

h3 {
	@include font-bold-italic;
	@include type-large;
}

h4 {
	@include font-black-italic;
	@include type-base;
	letter-spacing: .5px;
}

h5 {
	@include font-medium;
	@include type-small;
	text-transform: uppercase;
	letter-spacing: .25px;
}

h6 {
	@include font-medium;
	@include type-smaller;
	text-transform: uppercase;
	letter-spacing: .5px;
}

p {
	@include font-regular;
	@include type-base;
	line-height: 1.5rem;
	letter-spacing: 0.125px;
}

strong {
	@include font-bold;
	@include type-base;
}

em,
strong em {
	@include font-regular-italic;
	@include type-base;
} 

u {
	@include font-regular;
	@include type-base;
	text-decoration: none;
	background-image: linear-gradient(to top,
    rgba(0,0,0,0) 10%,
    rgba(0,0,0,.5) 18%,
    rgba(0,0,0,.5) 14%,
    rgba(0,0,0,0) 15%
    );
}

// Base links

a {
	@include font-regular;
	@include type-base;
	color: rgba(58,114,217,1);
	text-decoration: none;
	background-image: linear-gradient(to top,
    rgba(58,114,217,0) 10%,
    rgba(58,114,217,.3) 10%,
    rgba(58,114,217,.3) 15%,
    rgba(58,114,217,0) 15%
    );
    padding: 0 1px;
    margin: 0 -1px;
}

a:hover {
	color: rgba(53,175,247,1);
	background-image: linear-gradient(to top,
    rgba(58,114,217,0) 10%,
    rgba(58,114,217,.6) 10%,
    rgba(58,114,217,.6) 15%,
    rgba(58,114,217,0) 15%
    );
}

a:active {
	color: #0709A0;
}

// Extra styles

code,
pre.prettyprint {
	@include borders-round;
	@include type-small;
	padding: 0.15rem 0.25rem;
	margin: 0 0.25rem;
	color: $color-red-scale-1;
	border: 1px solid #cecece;
	background: #fff;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

pre.prettyprint {
	margin: 2rem 0 1rem;
}
