// Foundational Typography

h1 {
	@include font-medium;
	@include type-largest;
}

h2 {
	@include font-bold;
	@include type-larger;
}

h3 {
	@include font-bold-italic;
	@include type-large;
}

h4 {
	@include font-black-italic;
	@include type-base;
	letter-spacing: .5px;
}

h5 {
	@include font-medium;
	@include type-small;
	text-transform: uppercase;
	letter-spacing: .25px;
}

h6 {
	@include font-medium;
	@include type-smaller;
	text-transform: uppercase;
	letter-spacing: .5px;
}

p {
	@include font-regular;
	@include type-base;
	letter-spacing: 0.125px;
}

strong {
	@include font-bold;
	@include type-base;
}

em,
strong em {
	@include font-regular-italic;
	@include type-base;
}

u {
	@include font-regular;
	@include type-base;
	text-decoration: none;
	background-image: linear-gradient(to top,
    rgba(0,0,0,0) 10%,
    rgba(0,0,0,.5) 18%,
    rgba(0,0,0,.5) 14%,
    rgba(0,0,0,0) 15%
    );
}

// Base links

p a {
	@include font-regular;
	@include type-base;
	color: $color-blue-base;
	text-decoration: none;
	background-image: linear-gradient(to top,
    rgba( $color-blue-base, 0 ) 10%,
    rgba( $color-blue-base, .4) 10%,
    rgba( $color-blue-base, .4) 15%,
    rgba( $color-blue-base, 0) 15%
    );
}

p a:hover {
	color: $color-blue-dark;
	background-image: linear-gradient(to top,
    rgba( $color-blue-dark, 0) 10%,
    rgba( $color-blue-dark, 1) 10%,
    rgba( $color-blue-dark, 1) 15%,
    rgba( $color-blue-dark, 0) 15%
    );
}

a:active {
	color: #0709A0;
}

// Extra styles

pre.prettyprint {
	@include borders-round;
	@include type-small;
	padding: 0.15rem 0.25rem;
	margin: 2rem 0 1rem;
	line-height: 1.6;
	border: 1px solid #cecece;
	background: #fff;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;

	var,
	var span {
		@include type-base;
		color: $color-purple-dark;
	}

	&:first-of-type {
		margin-top: 10px;
	}
}

pre.prettyprint .atv {
	color: $color-red-base;
}

var,
code {
	@include font-medium;
	@include borders-round;
	font-size: inherit;
	border: 1px solid $color-purple-light;
	background-color: rgba($color-purple-lightest, .2);
	color: $color-purple-dark;
	display: inline-block;
	padding: 0 5px;
	margin: 0 2px;
}

code {
	background-color: rgba($color-bright, 0.5);
	border-color: $color-gray-base;
	color: $color-red-base;
}
