// Task Container and status
.task-container {
	@include type-smaller;

    time.col {
        text-align: right;
    }

    .col.with-divider {
    	border-right: 1px solid $color-gray-lighter;
    	padding-right: 12px;

    	& + .col {
    		padding-left: 12px;
    	}
    }
}

.col-doublure {
	h5 {
		padding-right: 8px;
	}
}
// .col-doublure-status {
// 	width: 80%;
// }

.status-form {
	.field,
	.options {
		display: block;
	}

	.col-search-report {
		width: 100px;
		white-space: nowrap;
	}
	.col-search-report-actions {
		width: 110px;
	}
}