@import url(../sass/base/normalize.css);
@import url(../sass/base/icon-font.css);
@import url(../fonts/source-sans/source-sans.css);
html {
  font-size: 18px; }

.typescale-smallest, .typescale-smaller, .typescale-small, .typescale-base, .typescale-large, .typescale-larger, .typescale-largest, .typescale-jumbo {
  display: block;
  width: 60%;
  margin: 3%;
  font-family: 'SourceSansProLight',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 300; }

hr {
  border: 0;
  border-top: 1px Gainsboro solid; }

.typescale-smallest {
  font-size: 0.578rem;
  line-height: 0.780rem;
  letter-spacing: .25px; }

.typescale-smaller {
  font-size: 0.694rem;
  line-height: 0.918rem;
  letter-spacing: 0.125px; }

.typescale-small {
  font-size: 0.833rem;
  line-height: 1.124rem; }

.typescale-base {
  font-size: 1rem;
  line-height: 1.35rem; }

.typescale-base a {
  text-decoration: none;
  color: black;
  padding: 1px 2px;
  margin: 0 -2px;
  background-image: linear-gradient(to top, #b4e7f8 11%, #b4e7f8 11%, #b4e7f8 30%, rgba(180, 231, 248, 0) 11%);
  transition: all .08s ease-in-out; }

.typescale-base a:hover {
  background-color: #b4e7f8; }

.typescale-large {
  font-size: 1.414rem;
  line-height: 1.908rem; }

.typescale-larger {
  font-size: 1.999rem;
  line-height: 2.698rem; }

.typescale-largest {
  font-size: 2.826rem;
  line-height: 3.815rem; }

html {
  font-size: 18px; }

.typescale-smallest, .typescale-smaller, .typescale-small, .typescale-base, .typescale-large, .typescale-larger, .typescale-largest, .typescale-jumbo {
  display: block;
  width: 60%;
  margin: 3%;
  font-family: 'SourceSansProLight',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 300; }

hr {
  border: 0;
  border-top: 1px Gainsboro solid; }

.typescale-smallest {
  font-size: 0.578rem;
  line-height: 0.780rem;
  letter-spacing: .25px; }

.typescale-smaller {
  font-size: 0.694rem;
  line-height: 0.918rem;
  letter-spacing: 0.125px; }

.typescale-small {
  font-size: 0.833rem;
  line-height: 1.124rem; }

.typescale-base {
  font-size: 1rem;
  line-height: 1.35rem; }

.typescale-base a {
  text-decoration: none;
  color: black;
  padding: 1px 2px;
  margin: 0 -2px;
  background-image: linear-gradient(to top, #b4e7f8 11%, #b4e7f8 11%, #b4e7f8 30%, rgba(180, 231, 248, 0) 11%);
  transition: all .08s ease-in-out; }

.typescale-base a:hover {
  background-color: #b4e7f8; }

.typescale-large {
  font-size: 1.414rem;
  line-height: 1.908rem; }

.typescale-larger {
  font-size: 1.999rem;
  line-height: 2.698rem; }

.typescale-largest {
  font-size: 2.826rem;
  line-height: 3.815rem; }

.page-demo {
  width: 75%;
  margin: 0 auto;
  background: #fafafa;
  padding: 20px; }
