@import url(../sass/base/normalize.css);
@import url(../sass/base/icon-font.css);
/* line 1, ../sass/pages/_demo.scss */
.page-demo {
  width: 75%;
  margin: 0 auto;
  background: #fafafa;
  padding: 20px;
}
