<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ title }} - UI Pattern Library</title>
</head>
<body>
	<div class="documentation-page">
        <h1><a href="#">UI Pattern library</a></h1>

		{{> menu }}

	    <div class="documentation-content">
	        {{{ contents }}}
	    </div>
	</div>
</body>
</html>