<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} - UI Library</title>
  <link rel="stylesheet" href="/css/docs.css">
  {{! <link rel="stylesheet" href="/css/all-ui.css"> }}

  <!-- Styles for the UI Library -->
  <link rel="stylesheet" href="">
</head>
<body>
	<div class="docs">
    <header class="docs__header">
      <h1><a href="#">UI Library</a></h1>
    </header>

		{{> menu }}

    <div class="docs__content">
      {{{ contents }}}
    </div>
	</div>

<!-- Scripts for the UI Library -->
<script src="http://localhost:35729/livereload.js"></script>

</body>
</html>