@mixin borders-round {
	border-radius: 2px;
}

@mixin borders-rounder {
	border-radius: 5px;
}

@mixin borders-roundest {
	border-radius: 20px;
}

@mixin borders-tab {
	border-radius: 2px 2px 0 0;
}

// used for elements that are part of a larger
// element that needs to have round corners

@mixin borders-end-cap {
	border-radius: 0 2px 2px 0;
}

@mixin borders-beginning-cap {
	border-radius: 2px 0 0 2px;
}

// resetting rounded borders 

@mixin borders-square {
	border-radius: 0;
}