@mixin borders-round {
	border-radius: .125em;
}

@mixin borders-rounder {
	border-radius: .3125em;
}

@mixin borders-roundest {
	border-radius: 1.25em;
}

@mixin borders-tab {
	border-radius: .125em .125em 0 0;
} 

// used for elements that are part of a larger
// element that needs to have round corners

@mixin borders-end-cap {
	border-radius: 0 .125em .125em 0;
}

@mixin borders-beginning-cap {
	border-radius: .125em 0 0 .125em;
}

// resetting rounded borders

@mixin borders-square {
	border-radius: 0;
}