// Purple Scale
$color-purple-darkest: hsla(282,27%,22%,1);
$color-purple-darker: hsla(280,28%,33%,1);
$color-purple-dark: hsla(281,28%,43%,1);
$color-purple-base: hsla(281,33%,54%,1);
$color-purple-light: hsla(285,37%,61%,1);
$color-purple-lighter: hsla(290,42%,67%,1);
$color-purple-lightest: hsla(294,50%,73%,1);


// blue Scale
$color-blue-darkest: hsla(200,66%,20%,1);
$color-blue-darker: hsla(200,66%,30%,1);
$color-blue-dark: hsla(200,66%,40%,1);
$color-blue-base: hsla(200,66%,50%,1);
$color-blue-light: hsla(197,70%,54%,1);
$color-blue-lighter: hsla(193,75%,57%,1);
$color-blue-lightest: hsla(188,80%,62%,1);

// cyan Scale
$color-cyan-darkest: hsla(168,72%,17%,1);
$color-cyan-darker: hsla(169,72%,25%,1);
$color-cyan-dark: hsla(169,72%,34%,1);
$color-cyan-base: hsla(169,72%,42%,1);
$color-cyan-light: hsla(172,71%,45%,1);
$color-cyan-lighter: hsla(174,70%,49%,1);
$color-cyan-lightest: hsla(176,75%,53%,1);

// green Scale
$color-green-darkest: hsla(148,57%,20%,1);
$color-green-darker: hsla(149,56%,28%,1);
$color-green-dark: hsla(148,56%,39%,1);
$color-green-base: hsla(148,56%,49%,1);
$color-green-light: hsla(153,62%,53%,1);
$color-green-lighter: hsla(158,68%,56%,1);
$color-green-lightest: hsla(162,76%,61%,1);

// yellow Scale
$color-yellow-darkest: hsla(41,54%,25%,1);
$color-yellow-darker: hsla(42,53%,37%,1);
$color-yellow-dark: hsla(42,53%,50%,1);
$color-yellow-base: hsla(42,88%,62%,1);
$color-yellow-light: hsla(45,90%,64%,1);
$color-yellow-lighter: hsla(48,93%,65%,1);
$color-yellow-lightest: hsla(51,95%,66%,1);

// orange Scale
$color-orange-darkest: hsla(22,56%,23%,1);
$color-orange-darker: hsla(22,56%,35%,1);
$color-orange-dark: hsla(22,56%,46%,1);
$color-orange-base: hsla(22,78%,57%,1);
$color-orange-light: hsla(28,81%,60%,1);
$color-orange-lighter: hsla(35,85%,63%,1);
$color-orange-lightest: hsla(42,91%,66%,1);

// red Scale
$color-red-darkest: hsla(3,52%,24%,1);
$color-red-darker: hsla(4,53%,36%,1);
$color-red-dark: hsla(3,52%,48%,1);
$color-red-base: hsla(3,78%,60%,1);
$color-red-light: hsla(5,81%,63%,1);
$color-red-lighter: hsla(6,85%,66%,1);
$color-red-lightest: hsla(8,89%,69%,1);

// Gray Scale
$color-black: hsla(210,45%,15%,1);
$color-gray-darkest: hsla(207,15%,23%,1);
$color-gray-darker: hsla(207,9%,32%,1);
$color-gray-dark: hsla(206,7%,42%,1);
$color-gray-base: hsla(203,5%,51%,1);
$color-gray-light: hsla(204,5%,61%,1);
$color-gray-lighter: hsla(202,5%,71%,1);
$color-gray-lightest: hsla(204,5%,80%,1);
$color-white: hsla(200,6%,90%,1);