// Purple Scale
$hue-default-purple-darkest: hsla(282,27%,22%,1);
$hue-default-purple-darker: hsla(280,28%,33%,1);
$hue-default-purple-dark: hsla(281,28%,43%,1);
$hue-default-purple-base: hsla(281,33%,54%,1);
$hue-default-purple-light: hsla(285,37%,61%,1);
$hue-default-purple-lighter: hsla(290,42%,67%,1);
$hue-default-purple-lightest: hsla(294,50%,73%,1);


// blue Scale
$hue-default-blue-darkest: hsla(200,66%,20%,1);
$hue-default-blue-darker: hsla(200,66%,30%,1);
$hue-default-blue-dark: hsla(200,66%,40%,1);
$hue-default-blue-base: hsla(200,66%,50%,1);
$hue-default-blue-light: hsla(197,70%,54%,1);
$hue-default-blue-lighter: hsla(193,75%,57%,1);
$hue-default-blue-lightest: hsla(188,80%,62%,1);

// cyan Scale
$hue-default-cyan-darkest: hsla(168,72%,17%,1);
$hue-default-cyan-darker: hsla(169,72%,25%,1);
$hue-default-cyan-dark: hsla(169,72%,34%,1);
$hue-default-cyan-base: hsla(169,72%,42%,1);
$hue-default-cyan-light: hsla(172,71%,45%,1);
$hue-default-cyan-lighter: hsla(174,70%,49%,1);
$hue-default-cyan-lightest: hsla(176,75%,53%,1);

// green Scale
$hue-default-green-darkest: hsla(148,57%,20%,1);
$hue-default-green-darker: hsla(149,56%,28%,1);
$hue-default-green-dark: hsla(148,56%,39%,1);
$hue-default-green-base: hsla(148,56%,49%,1);
$hue-default-green-light: hsla(153,62%,53%,1);
$hue-default-green-lighter: hsla(158,68%,56%,1);
$hue-default-green-lightest: hsla(162,76%,61%,1);

// yellow Scale
$hue-default-yellow-darkest: hsla(41,54%,25%,1);
$hue-default-yellow-darker: hsla(42,53%,37%,1);
$hue-default-yellow-dark: hsla(42,53%,50%,1);
$hue-default-yellow-base: hsla(42,88%,62%,1);
$hue-default-yellow-light: hsla(45,90%,64%,1);
$hue-default-yellow-lighter: hsla(48,93%,65%,1);
$hue-default-yellow-lightest: hsla(51,95%,66%,1);

// orange Scale
$hue-default-orange-darkest: hsla(22,56%,23%,1);
$hue-default-orange-darker: hsla(22,56%,35%,1);
$hue-default-orange-dark: hsla(22,56%,46%,1);
$hue-default-orange-base: hsla(22,78%,57%,1);
$hue-default-orange-light: hsla(28,81%,60%,1);
$hue-default-orange-lighter: hsla(35,85%,63%,1);
$hue-default-orange-lightest: hsla(42,91%,66%,1);

// red Scale
$hue-default-red-darkest: hsla(3,52%,24%,1);
$hue-default-red-darker: hsla(4,53%,36%,1);
$hue-default-red-dark: hsla(3,52%,48%,1);
$hue-default-red-base: hsla(3,78%,60%,1);
$hue-default-red-light: hsla(5,81%,63%,1);
$hue-default-red-lighter: hsla(6,85%,66%,1);
$hue-default-red-lightest: hsla(8,89%,69%,1);

