@mixin shadows-none {
	box-shadow: none;
}

// Base is z-level 1
@mixin shadow-base($base-color: $color-gray-800) {
	box-shadow: 0 1px 0 0 darken(rgba($base-color, .3), 10%);
}

@mixin shadow-z-2($base-color: $color-gray-800) {
	box-shadow: 0 2px 3px 0 darken(rgba($base-color, .3), 10%);
}

@mixin shadow-z-3($base-color: $color-gray-800) {
	box-shadow: 0 4px 6px 0 darken(rgba($base-color, .3), 10%);
}

@mixin shadow-z-4($base-color: $color-gray-800) {
	box-shadow: 0 6px 9px 0 darken(rgba($base-color, .3), 10%);
}