// Weights

// Type Weights
@mixin font-extralight {
	font-family: 'SourceSansProExtraLight',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 200;
}

@mixin font-extralight-italic {
	font-family: 'SourceSansProExtraLight-Italic',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 200;
}

@mixin font-light {
	font-family: 'SourceSansProLight',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 300;
}

@mixin font-light-italic {
	font-family: 'SourceSansProLight-Italic',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 300;
}

@mixin font-regular {
	font-family: 'SourceSansProRegular',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin font-regular-italic {
	font-family: 'SourceSansProRegular-Italic',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 400;
}

@mixin font-medium {
	font-family: 'SourceSansProSemibold',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 600;
}

@mixin font-medium-italic {
	font-family: 'SourceSansProSemibold-Italic',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 600;
}

@mixin font-bold {
	font-family: 'SourceSansProBold',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin font-bold-italic {
	font-family: 'SourceSansProBold-Italic',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 700;
}

@mixin font-black {
	font-family: 'SourceSansProBlack','Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 900;
}

@mixin font-black-italic {
	font-family: 'SourceSansProBlack-Italic',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 900;
}


// Scale
html {
	font-size: 18px;
}

@mixin type-smallest {
	font-size: 12px;
	line-height: 1.25;
	letter-spacing: .016ex;
}

@mixin type-smaller {
	font-size: 14px;
	line-height: 1.28571428571;
	letter-spacing: 0.008ex;
}

@mixin type-small {
	font-size: 15px;
	line-height: 1.33333333333;
}

@mixin type-base {
	font-size: 16px;
	line-height: 1.3125;
}

@mixin type-large {
	font-size: 20px;
	line-height: 1.3;
}

@mixin type-larger {
	font-size: 32px;
	line-height: 1.3125;
}

@mixin type-largest {
	font-size: 48px;
	line-height: 1.291666667;
}

/*
html {
	font-size: 18px;
}

@mixin type-smallest {
	font-size: 0.578rem;
	line-height: 0.780rem;
	letter-spacing: .25px;
}

@mixin type-smaller {
	font-size: 0.694rem;
	line-height: 0.918rem;
	letter-spacing: 0.125px;
}

@mixin type-small {
	font-size: 0.833rem;
	line-height: 1.124rem;
}

@mixin type-base {
	font-size: 1rem;
	line-height: 1.35rem;
}

@mixin type-large {
	font-size: 1.414rem;
	line-height: 1.908rem;
}

@mixin type-larger {
	font-size: 1.999rem;
	line-height: 2.698rem;
}

@mixin type-largest {
	font-size: 2.826rem;
	line-height: 3.815rem;
}
*/
