// Weights

// Type Weights
@mixin font-extralight {
	font-family: 'SourceSansProExtraLight',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 200;
}

@mixin font-extralight-italic {
	font-family: 'SourceSansProExtraLight-Italic',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 200;
}

@mixin font-light {
	font-family: 'SourceSansProLight',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 300;
}

@mixin font-light-italic {
	font-family: 'SourceSansProLight-Italic',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 300;
}

@mixin font-regular {
	font-family: 'SourceSansProRegular',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin font-regular-italic {
	font-family: 'SourceSansProRegular-Italic',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 400;
}

@mixin font-medium {
	font-family: 'SourceSansProSemibold',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 600;
}

@mixin font-medium-italic {
	font-family: 'SourceSansProSemibold-Italic',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 600;
}

@mixin font-bold {
	font-family: 'SourceSansProBold',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin font-bold-italic {
	font-family: 'SourceSansProBold-Italic',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 700;
}

@mixin font-black {
	font-family: 'SourceSansProBlack','Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 900;
}

@mixin font-black-italic {
	font-family: 'SourceSansProBlack-Italic',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 900;
}


// Scale
html {
	font-size: 18px;
}

@mixin type-smallest {
	font-size: 0.578rem;
	line-height: 0.780rem;
	letter-spacing: .25px;
}

@mixin type-smaller {
	font-size: 0.694rem;
	line-height: 0.918rem;
	letter-spacing: 0.125px;
}

@mixin type-small {
	font-size: 0.833rem;
	line-height: 1.124rem;
}

@mixin type-base {
	font-size: 1rem;
	line-height: 1.35rem;
}

@mixin type-large {
	font-size: 1.414rem;
	line-height: 1.908rem;
}

@mixin type-larger {
	font-size: 1.999rem;
	line-height: 2.698rem;
}

@mixin type-largest {
	font-size: 2.826rem;
	line-height: 3.815rem;
}

// Foundational Typography

h1 {
	@include font-medium;
	@include type-largest;
}

h2 {
	@include font-bold;
	@include type-larger;
}

h3 {
	@include font-bold-italic;
	@include type-large;
}

h4 {
	@include font-black-italic;
	@include type-base;
	letter-spacing: .5px;
}

h5 {
	@include font-medium;
	@include type-small;
	text-transform: uppercase;
	letter-spacing: .25px;
}

h6 {
	@include font-medium;
	@include type-smaller;
	text-transform: uppercase;
	letter-spacing: .5px;
}

p {
	@include font-regular;
	@include type-base;
	line-height: 1.5rem;
	letter-spacing: 0.125px;
}

strong {
	@include font-bold;
	@include type-base;
}

em {
	@include font-regular-italic;
	@include type-base;
}

strong em {
	@include font-bold-italic;
	@include type-base;
}

a {
	@include font-regular;
	@include type-base;
	color: rgba(58,114,217,1);
	text-decoration: none;
	background-image: linear-gradient(to top,
    rgba(58,114,217,0) 10%,
    rgba(58,114,217,.3) 10%,
    rgba(58,114,217,.3) 15%,
    rgba(58,114,217,0) 15%
    );
    padding: 0 1px;
    margin: 0 -1px;
}

a:hover {
	color: rgba(53,175,247,1);
	background-image: linear-gradient(to top,
    rgba(58,114,217,0) 10%,
    rgba(58,114,217,.6) 10%,
    rgba(58,114,217,.6) 15%,
    rgba(58,114,217,0) 15%
    );
}

a:active {
	color: #0709A0;
}

u {
	@include font-regular;
	@include type-base;
	text-decoration: none;
	background-image: linear-gradient(to top,
    rgba(0,0,0,0) 10%,
    rgba(0,0,0,.5) 18%,
    rgba(0,0,0,.5) 14%,
    rgba(0,0,0,0) 15%
    );
}


