body {
	background: $color-bright;
}

.page-demo {
	background: $color-bright;
	width: 75%;
	margin: 0 auto;
	padding: 20px;
}

span strong,
span em,
span a,
span u {
	margin: 40px 20px 40px 0;
}

a.button {
	margin: 0;
}

strong em {
	margin: 0;
}

h2 {
	margin: 2rem 0 2rem;
	padding-top: 2rem;
	border-top: 1px $color-gray-lightest solid;
}

h3 {
	margin-top: 3rem;
}


.navigation, .dropdown {
	width: 25%;
}

.navigation-primary {
	width: 6%;
}

// Page: color-scale
/*
.colors ul {
	display: inline-block;
	width: 13.988%;
	padding: 0;
	margin: 0;
}

.colors ul li {
	display: inline-block;
	width: 83%;
	padding: 1rem;
	height: 100px;
	margin: 0;
	color: rgba(0,0,0,.3);
	text-transform: uppercase;
	@include type-smaller;
	@include font-medium;
	letter-spacing: .5px;
	background-color: $color-green-darkest;
} */

