body {
	background-color: $color-white;
}

.documentation_page {
	width: 100%;
	max-width: 1080px;
	position: absolute;
	margin-left: -540px;
	left: 50%;
	padding-top: 4%;
}

nav {
	width: 30%;
	text-align: right;
	float: left;
	box-sizing: border-box;
	border-right: 2px solid $color-bright;
}

nav h5 {
	@include type-large;
	margin-top: 6px;
	margin-bottom: 10px;
	padding-right: 20px;
}

nav h5 a {
	text-decoration: none;
	color: $color-night;
	transition: color .125s ease-in;
}

nav h5 a:hover {
	color: $color-gray-base;
}

nav h5 a:active {
	color: $color-gray-dark;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}
 
nav ul li {
	text-decoration: none;
	margin-right: -2px;
}


nav ul li a {
	padding: 5px 20px 5px 0;
	display: inline-block;
	background: none;
	border-right: 2px solid $color-bright;
	color: rgba( $color-gray-base, .6 );
	text-decoration: none;
	text-transform: uppercase;
	@include font-regular;
	@include type-small;
	transition: color .125s ease-in, border-right-color .125s ease-in;
}

nav ul li:nth-of-type(1) a:hover {
	color: $color-blue-base;
	border-right-color: $color-blue-lighter;
}

nav ul li:nth-of-type(1) a:active {
	color: $color-blue-darker;
	border-right-color: $color-blue-darker;
}

nav ul li:nth-of-type(2) a:hover {
	color: $color-cyan-base;
	border-right-color: $color-cyan-lighter;
}

nav ul li:nth-of-type(2) a:active {
	color: $color-cyan-darker;
	border-right-color: $color-cyan-darker;
}

nav ul li:nth-of-type(3) a:hover {
	color: $color-green-base;
	border-right-color: $color-green-lighter;
}

nav ul li:nth-of-type(3) a:active {
	color: $color-green-darker;
	border-right-color: $color-green-darker;
}

nav ul li:nth-of-type(4) a:hover {
	color: $color-yellow-base;
	border-right-color: $color-yellow-lighter;
}

nav ul li:nth-of-type(4) a:active {
	color: $color-yellow-darker;
	border-right-color: $color-yellow-darker;
}

nav ul li:nth-of-type(5) a:hover {
	color: $color-orange-base;
	border-right-color: $color-orange-lighter;
}

nav ul li:nth-of-type(5) a:active {
	color: $color-orange-darker;
	border-right-color: $color-orange-darker;
}

nav ul li:nth-of-type(6) a:hover {
	color: $color-red-lighter;
	border-right-color: $color-red-lighter;
}

nav ul li:nth-of-type(6) a:active {
	color: $color-red-darker;
	border-right-color: $color-red-darker;
}

 
nav ul li a.active_tab {
	@include font-bold;
	color: $color-night !important;
}

nav ul li a.active_tab:hover {
	color: $color-blue-base !important;
}


.documentation_content {
	width: 70%;
	float: right;
	padding-left: 80px;
	box-sizing: border-box;
}

.documentation_content h5 {
	margin-top: 10px;
}

@media (max-width : 1100px) {
	.documentation_page {
		position: relative;
		margin: 0;
		left: 0;
	}
}