body {
	background-color: $color-bright;
}

.documentation-page {
	width: 100%;
	max-width: 1080px;
	position: absolute;
	margin-left: -540px;
	left: 50%;
	padding-top: 2%;
}

nav {
	width: 25%;
	text-align: right;
	float: left;
	margin-top: 16px;
	box-sizing: border-box;
	border-right: 2px solid $color-gray-lightest;
}

nav h5 {
	@include type-large;
	margin-top: 6px;
	margin-bottom: 10px;
	padding-right: 20px;
}

nav h5 a {
	text-decoration: none;
	color: $color-black;
	transition: color .125s ease-in;
}

nav h5 a:hover {
	color: $color-gray-base;
}

nav h5 a:active {
	color: $color-gray-dark;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}

nav ul li {
	text-decoration: none;
	margin-right: -2px;
}

.list-menu {
	a {
		padding: 5px 20px 5px 0;
		display: inline-block;
		background: none;
		border-right: 2px solid $color-gray-lightest;
		color: rgba( $color-gray-base, .6 );
		text-decoration: none;
		text-transform: uppercase;
		@include type-base;
		transition: color .125s ease-in, border-right-color .125s ease-in;

		&:focus,
		&:hover {
			color: $color-blue-base;
			border-right-color: $color-blue-base;
		}
		&:active {
			color: $color-blue-darker;
			border-right-color: $color-blue-darker;
		}
	}
	.divider {
		background: $color-gray-lightest;
		height: 1px;
		margin: 10px 20px 10px auto;
		width: 150px;
	}
	.active-tab {
		font-weight: 700;
		color: $color-black;
	}
	.color-blue {
		&:focus,
		&:hover {
			color: $color-blue-base;
			border-right-color: $color-blue-base;
		}
		&:active {
			color: $color-blue-darker;
			border-right-color: $color-blue-darker;
		}
	}
	.color-cyan {
		&:focus,
		&:hover {
			color: $color-cyan-base;
			border-right-color: $color-cyan-base;
		}
		&:active {
			color: $color-cyan-darker;
			border-right-color: $color-cyan-darker;
		}
	}
	.color-green {
		&:focus,
		&:hover {
			color: $color-green-base;
			border-right-color: $color-green-base;
		}
		&:active {
			color: $color-green-darker;
			border-right-color: $color-green-darker;
		}
	}
	.color-yellow {
		&:focus,
		&:hover {
			color: $color-yellow-dark;
			border-right-color: $color-yellow-dark;
		}
		&:active {
			color: $color-yellow-darkest;
			border-right-color: $color-yellow-darkest;
		}
	}
	.color-orange {
		&:focus,
		&:hover {
			color: $color-orange-base;
			border-right-color: $color-orange-base;
		}
		&:active {
			color: $color-orange-darker;
			border-right-color: $color-orange-darker;
		}
	}
	.color-red {
		&:focus,
		&:hover {
			color: $color-red-base;
			border-right-color: $color-red-base;
		}
		&:active {
			color: $color-red-darker;
			border-right-color: $color-red-darker;
		}
	}
	.color-purple {
		&:focus,
		&:hover {
			color: $color-purple-base;
			border-right-color: $color-purple-base;
		}
		&:active {
			color: $color-purple-darker;
			border-right-color: $color-purple-darker;
		}
	}
}

.list-submenu {
	margin-right: 2px;
	margin-bottom: 8px;

	a {
		@include type-small;
		padding: 2px 20px 2px 0;
		text-transform: none;
	}
}


.list-submenu .active-tab {
	font-weight: 600;
}


.documentation-content {
	@include borders-rounder;
	width: 70%;
	float: right;
	margin-right: 40px;
	padding: 20px 40px;
	margin-bottom: 60px;
	box-sizing: border-box;
	background-color: $color-white;

	// Page specific styles

	.navigation, .dropdown {
		width: 35%;
	}

	.navigation-primary {
		width: 10%;
	}
}

.documentation-content h2 {
	margin-top: 0;
}

.documentation-content h3 {
	margin: 40px 0 15px 0;
}

/* Color */

ul.color-mixins {
	padding: 0;
	list-style-type: none;
}

ul.color-mixins li {
	display: inline-block;
	margin-right: 10px;
}


ul.color-mixins li h4 {
	margin: 20px 0 4px 0;
	color: $color-gray-darker;
}

ul.color-mixins li ul {
	padding: 0;
	list-style-type: none;
}

ul.color-mixins li li {
	@include type-small;
	display: block;
	margin: 0;
	padding: 5px ;
	width: 156px;
}

.color-mixins ul li:nth-of-type(-n+3) {
	color: $color-white;
}

.purple-example li:nth-of-type(1) { background-color: $color-purple-darkest; }
.purple-example li:nth-of-type(2) { background-color: $color-purple-darker; }
.purple-example li:nth-of-type(3) { background-color: $color-purple-dark; }
.purple-example li:nth-of-type(4) { background-color: $color-purple-base; }
.purple-example li:nth-of-type(5) { background-color: $color-purple-light; }
.purple-example li:nth-of-type(6) { background-color: $color-purple-lighter; }
.purple-example li:nth-of-type(7) { background-color: $color-purple-lightest; }

.blue-example li:nth-of-type(1) { background-color: $color-blue-darkest; }
.blue-example li:nth-of-type(2) { background-color: $color-blue-darker; }
.blue-example li:nth-of-type(3) { background-color: $color-blue-dark; }
.blue-example li:nth-of-type(4) { background-color: $color-blue-base; }
.blue-example li:nth-of-type(5) { background-color: $color-blue-light; }
.blue-example li:nth-of-type(6) { background-color: $color-blue-lighter; }
.blue-example li:nth-of-type(7) { background-color: $color-blue-lightest; }

.cyan-example li:nth-of-type(1) { background-color: $color-cyan-darkest; }
.cyan-example li:nth-of-type(2) { background-color: $color-cyan-darker; }
.cyan-example li:nth-of-type(3) { background-color: $color-cyan-dark; }
.cyan-example li:nth-of-type(4) { background-color: $color-cyan-base; }
.cyan-example li:nth-of-type(5) { background-color: $color-cyan-light; }
.cyan-example li:nth-of-type(6) { background-color: $color-cyan-lighter; }
.cyan-example li:nth-of-type(7) { background-color: $color-cyan-lightest; }

.green-example li:nth-of-type(1) { background-color: $color-green-darkest; }
.green-example li:nth-of-type(2) { background-color: $color-green-darker; }
.green-example li:nth-of-type(3) { background-color: $color-green-dark; }
.green-example li:nth-of-type(4) { background-color: $color-green-base; }
.green-example li:nth-of-type(5) { background-color: $color-green-light; }
.green-example li:nth-of-type(6) { background-color: $color-green-lighter; }
.green-example li:nth-of-type(7) { background-color: $color-green-lightest; }

.yellow-example li:nth-of-type(1) { background-color: $color-yellow-darkest; }
.yellow-example li:nth-of-type(2) { background-color: $color-yellow-darker; }
.yellow-example li:nth-of-type(3) { background-color: $color-yellow-dark; }
.yellow-example li:nth-of-type(4) { background-color: $color-yellow-base; }
.yellow-example li:nth-of-type(5) { background-color: $color-yellow-light; }
.yellow-example li:nth-of-type(6) { background-color: $color-yellow-lighter; }
.yellow-example li:nth-of-type(7) { background-color: $color-yellow-lightest; }

.orange-example li:nth-of-type(1) { background-color: $color-orange-darkest; }
.orange-example li:nth-of-type(2) { background-color: $color-orange-darker; }
.orange-example li:nth-of-type(3) { background-color: $color-orange-dark; }
.orange-example li:nth-of-type(4) { background-color: $color-orange-base; }
.orange-example li:nth-of-type(5) { background-color: $color-orange-light; }
.orange-example li:nth-of-type(6) { background-color: $color-orange-lighter; }
.orange-example li:nth-of-type(7) { background-color: $color-orange-lightest; }

.red-example li:nth-of-type(1) { background-color: $color-red-darkest; }
.red-example li:nth-of-type(2) { background-color: $color-red-darker; }
.red-example li:nth-of-type(3) { background-color: $color-red-dark; }
.red-example li:nth-of-type(4) { background-color: $color-red-base; }
.red-example li:nth-of-type(5) { background-color: $color-red-light; }
.red-example li:nth-of-type(6) { background-color: $color-red-lighter; }
.red-example li:nth-of-type(7) { background-color: $color-red-lightest; }

.gray-example li:nth-of-type(1) { background-color: $color-gray-darkest; }
.gray-example li:nth-of-type(2) { background-color: $color-gray-darker; }
.gray-example li:nth-of-type(3) { background-color: $color-gray-dark; }
.gray-example li:nth-of-type(4) { background-color: $color-gray-base; }
.gray-example li:nth-of-type(5) { background-color: $color-gray-light; }
.gray-example li:nth-of-type(6) { background-color: $color-gray-lighter; }
.gray-example li:nth-of-type(7) { background-color: $color-gray-lightest; }

ul.font-weights {
	list-style-type: none;
	padding-left: 0;
}

ul.font-weights li {
	margin: 20px 0 5px;
}

ul.font-weights li:nth-of-type(1) {
	font-weight: 300;
}

ul.font-weights li:nth-of-type(2) {
	font-style: italic;
	font-weight: 300;
}

ul.font-weights li:nth-of-type(3) {
	font-weight: 400;
}

ul.font-weights li:nth-of-type(4) {
	font-style: italic;
	font-weight: 400;
}

ul.font-weights li:nth-of-type(5) {
	font-weight: 600;
}

ul.font-weights li:nth-of-type(6) {
	font-style: italic;
	font-weight: 600;
}

ul.font-weights li:nth-of-type(7) {
	font-weight: 700;
}

ul.font-weights li:nth-of-type(8) {
	font-style: italic;
	font-weight: 700;
}


// Testing Ground
.testing-container {
	display: table;
	background-color: $color-white;
	margin: 20px auto;
	border: 1px solid $color-gray-lightest;
	@include borders-round;
	min-height: 40px;
	padding: 20px 10px;
	box-sizing: border-box;
}

// Add your working component styling below

.dossiertabs {
	width: 100%;
	max-width: 2000px;
	display: block;
}
/*
.dossiertabs ul {
	list-style-type: none;
	display: inline-block;
	padding: 0 0 5px 0;
	margin: 0;
}

.dossiertabs ul li {
	display: inline-block;
	box-sizing: border-box;
	text-align: left;
	margin-right: -8px;
	position: relative;
}

.dossiertabs ul li a {
	text-decoration: none;
	padding: 5px 10px;
	background-color: desaturate( lighten( $color-cyan-lightest, 35% ), 50% );
	color: $color-cyan-darker;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid $color-cyan-darker;
	box-sizing: border-box;
	text-align: center;
	z-index: 10;
	position: relative;
}

.dossiertabs ul li a:hover {
	color: $color-cyan-darkest;
	background-color: desaturate( lighten( $color-cyan-lightest, 30% ), 50% );
}

.dossiertabs ul li a.active-tab {
		padding: 7px 10px 5px 10px;
		z-index: 20;
		background-color: desaturate( $color-cyan-base, 50% );
		color: desaturate( lighten( $color-cyan-light, 50% ), 50% );
		border: 1px solid $color-cyan-darkest;
	}

.dossiertabs ul li a.active-tab:hover {
	color: $color-white;
	background-color: desaturate( $color-cyan-darker, 20% );
}
*/
.dossiertabs .content {
	display: block;
	margin-top: -20px;
	width: 100%;
	max-width: 750px;
	min-width: 500px;
	min-height: 10px;
	padding: 0 40px 60px;
	box-sizing: border-box;
	background-color: $color-white;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border: 1px solid $color-gray-base;
	position: relative;
}

@media (max-width : 1100px) {
	.documentation-page {
		position: relative;
		margin: 0;
		left: 0;
	}
}