body {
	background-color: $color-bright;
}

.documentation-page {
	width: 100%;
	max-width: 1080px;
	position: absolute;
	margin-left: -540px;
	left: 50%;
	padding-top: 2%;
}

nav {
	width: 25%;
	text-align: right;
	float: left;
	margin-top: 16px;
	box-sizing: border-box;
	border-right: 2px solid $color-gray-lightest;
}
 
nav h5 {
	@include type-large;
	margin-top: 6px;
	margin-bottom: 10px;
	padding-right: 20px;
}

nav h5 a {
	text-decoration: none;
	color: $color-black;
	transition: color .125s ease-in;
}

nav h5 a:hover {
	color: $color-gray-base;
}

nav h5 a:active {
	color: $color-gray-dark;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}

nav ul li {
	text-decoration: none;
	margin-right: -2px;
}

.list-menu {
	a {
		padding: 5px 20px 5px 0;
		display: inline-block;
		background: none;
		border-right: 2px solid $color-gray-lightest;
		color: rgba( $color-gray-base, .6 );
		text-decoration: none;
		text-transform: uppercase;
		@include font-regular;
		@include type-base;
		transition: color .125s ease-in, border-right-color .125s ease-in;

		&:focus,
		&:hover {
			color: $color-blue-base;
			border-right-color: $color-blue-base;
		}
		&:active {
			color: $color-blue-darker;
			border-right-color: $color-blue-darker;
		}
	}
	.divider {
		background: $color-gray-lightest;
		height: 1px;
		margin: 10px 20px 10px auto;
		width: 150px;
	}
	.active-tab {
		@include font-bold;
		color: $color-black;
	}
	.color-blue {
		&:focus,
		&:hover {
			color: $color-blue-base;
			border-right-color: $color-blue-base;
		}
		&:active {
			color: $color-blue-darker;
			border-right-color: $color-blue-darker;
		}
	}
	.color-cyan {
		&:focus,
		&:hover {
			color: $color-cyan-base;
			border-right-color: $color-cyan-base;
		}
		&:active {
			color: $color-cyan-darker;
			border-right-color: $color-cyan-darker;
		}
	}
	.color-green {
		&:focus,
		&:hover {
			color: $color-green-base;
			border-right-color: $color-green-base;
		}
		&:active {
			color: $color-green-darker;
			border-right-color: $color-green-darker;
		}
	}
	.color-yellow {
		&:focus,
		&:hover {
			color: $color-yellow-dark;
			border-right-color: $color-yellow-dark;
		}
		&:active {
			color: $color-yellow-darkest;
			border-right-color: $color-yellow-darkest;
		}
	}
	.color-orange {
		&:focus,
		&:hover {
			color: $color-orange-base;
			border-right-color: $color-orange-base;
		}
		&:active {
			color: $color-orange-darker;
			border-right-color: $color-orange-darker;
		}
	}
	.color-red {
		&:focus,
		&:hover {
			color: $color-red-base;
			border-right-color: $color-red-base;
		}
		&:active {
			color: $color-red-darker;
			border-right-color: $color-red-darker;
		}
	}
	.color-purple {
		&:focus,
		&:hover {
			color: $color-purple-base;
			border-right-color: $color-purple-base;
		}
		&:active {
			color: $color-purple-darker;
			border-right-color: $color-purple-darker;
		}
	}
}

.list-submenu {
	margin-right: 2px;
	margin-bottom: 8px;

	a {
		@include type-small;
		padding: 2px 20px 2px 0;
		text-transform: none;
	}
}


.list-submenu .active-tab {
	@include font-medium;
}


.documentation-content {
	@include borders-rounder;
	width: 70%;
	float: right;
	margin-right: 40px;
	padding: 20px 40px;
	box-sizing: border-box;
	background-color: $color-white;

	// Page specific styles 
	
	.navigation, .dropdown {
		width: 25%;
	}

	.navigation-primary {
		width: 6%;
	}
}

.documentation-content h2 {
	margin-top: 0;
}

em.code-snippet {
	@include font-medium;
	@include borders-round;
	border: 1px solid $color-blue-dark;
	background-color: rgba($color-blue-base, .2);
	color: $color-blue-base;
	display: inline-block;
	padding: 0 2px;
	margin: 0 1px;
}

/* Color */

ul.color-mixins {
	padding: 0;
	list-style-type: none;
}

ul.color-mixins li {
	display: inline-block;
	margin-right: 20px;
}

ul.color-mixins li h3 {
	margin: 20px 0 4px 0;
}

ul.color-mixins li ul {
	padding: 0;
	list-style-type: none;
}

ul.color-mixins li ul li {
	@include font-regular;
	@include type-base;
	display: block;
	margin: 0;
}

li.purple-example ul li:nth-of-type(1) {color: $color-purple-darkest;}
li.purple-example ul li:nth-of-type(2) {color: $color-purple-darker;}
li.purple-example ul li:nth-of-type(3) {color: $color-purple-dark;}
li.purple-example ul li:nth-of-type(4) {color: $color-purple-base;}
li.purple-example ul li:nth-of-type(5) {color: $color-purple-light;}
li.purple-example ul li:nth-of-type(6) {color: $color-purple-lighter;}
li.purple-example ul li:nth-of-type(7) {color: $color-purple-lightest;}

li.blue-example ul li:nth-of-type(1) {color: $color-blue-darkest;}
li.blue-example ul li:nth-of-type(2) {color: $color-blue-darker;}
li.blue-example ul li:nth-of-type(3) {color: $color-blue-dark;}
li.blue-example ul li:nth-of-type(4) {color: $color-blue-base;}
li.blue-example ul li:nth-of-type(5) {color: $color-blue-light;}
li.blue-example ul li:nth-of-type(6) {color: $color-blue-lighter;}
li.blue-example ul li:nth-of-type(7) {color: $color-blue-lightest;}

li.cyan-example ul li:nth-of-type(1) {color: $color-cyan-darkest;}
li.cyan-example ul li:nth-of-type(2) {color: $color-cyan-darker;}
li.cyan-example ul li:nth-of-type(3) {color: $color-cyan-dark;}
li.cyan-example ul li:nth-of-type(4) {color: $color-cyan-base;}
li.cyan-example ul li:nth-of-type(5) {color: $color-cyan-light;}
li.cyan-example ul li:nth-of-type(6) {color: $color-cyan-lighter;}
li.cyan-example ul li:nth-of-type(7) {color: $color-cyan-lightest;}

li.green-example ul li:nth-of-type(1) {color: $color-green-darkest;}
li.green-example ul li:nth-of-type(2) {color: $color-green-darker;}
li.green-example ul li:nth-of-type(3) {color: $color-green-dark;}
li.green-example ul li:nth-of-type(4) {color: $color-green-base;}
li.green-example ul li:nth-of-type(5) {color: $color-green-light;}
li.green-example ul li:nth-of-type(6) {color: $color-green-lighter;}
li.green-example ul li:nth-of-type(7) {color: $color-green-lightest;}

li.yellow-example ul li:nth-of-type(1) {color: $color-yellow-darkest;}
li.yellow-example ul li:nth-of-type(2) {color: $color-yellow-darker;}
li.yellow-example ul li:nth-of-type(3) {color: $color-yellow-dark;}
li.yellow-example ul li:nth-of-type(4) {color: $color-yellow-base;}
li.yellow-example ul li:nth-of-type(5) {color: $color-yellow-light;}
li.yellow-example ul li:nth-of-type(6) {color: $color-yellow-lighter;}
li.yellow-example ul li:nth-of-type(7) {color: $color-yellow-lightest;}

li.orange-example ul li:nth-of-type(1) {color: $color-orange-darkest;}
li.orange-example ul li:nth-of-type(2) {color: $color-orange-darker;}
li.orange-example ul li:nth-of-type(3) {color: $color-orange-dark;}
li.orange-example ul li:nth-of-type(4) {color: $color-orange-base;}
li.orange-example ul li:nth-of-type(5) {color: $color-orange-light;}
li.orange-example ul li:nth-of-type(6) {color: $color-orange-lighter;}
li.orange-example ul li:nth-of-type(7) {color: $color-orange-lightest;}

li.red-example ul li:nth-of-type(1) {color: $color-red-darkest;}
li.red-example ul li:nth-of-type(2) {color: $color-red-darker;}
li.red-example ul li:nth-of-type(3) {color: $color-red-dark;}
li.red-example ul li:nth-of-type(4) {color: $color-red-base;}
li.red-example ul li:nth-of-type(5) {color: $color-red-light;}
li.red-example ul li:nth-of-type(6) {color: $color-red-lighter;}
li.red-example ul li:nth-of-type(7) {color: $color-red-lightest;}

li.gray-example ul li:nth-of-type(1) {color: $color-gray-darkest;}
li.gray-example ul li:nth-of-type(2) {color: $color-gray-darker;}
li.gray-example ul li:nth-of-type(3) {color: $color-gray-dark;}
li.gray-example ul li:nth-of-type(4) {color: $color-gray-base;}
li.gray-example ul li:nth-of-type(5) {color: $color-gray-light;}
li.gray-example ul li:nth-of-type(6) {color: $color-gray-lighter;}
li.gray-example ul li:nth-of-type(7) {color: $color-gray-lightest;}


@media (max-width : 1100px) {
	.documentation-page {
		position: relative;
		margin: 0;
		left: 0;
	}
}