// EPO-specific classes

// Application identifier
//
// - Has attached label for the App. Phase
// - Shows the App. number
// - Shows the primary language of the application

.application-number {
    @include type-smaller;
    @include borders-round;
    border: 1px solid transparent;
    display: inline-block;
    height: 20px;
    line-height: 18px;
    margin: 0 .5em 0 0;
    min-width: 150px;
    overflow: visible;

    // default colors
    // background: linear-gradient(to right, #E9F5FE 0%, #E9F5FE 82%, #96D2FC 82%, #96D2FC 100%) repeat scroll 0% 0% transparent;
    background: rgba($epo-color-dossier-ep, .2);
    border-color: $epo-color-dossier-ep;

    .phase,
    .language {
        display: inline-block;
        font-weight: bold;
        height: 100%;
        text-align: center;
    }

    .phase {
        @include borders-beginning-cap;
        width: 1em;
    }

    .number {
        font-weight: normal;
        padding: 0 .5em 0 .25em;
    }

    .language {
        float: right;
        font-weight: normal;
        width: 2em;
        position: relative;
    }
}


// Application type/national variations:
// INFO: Types for applications are correlated to their dossier codes (incl. nationals)
.application-number {

    &.type-ep {
        background-color: rgba($epo-color-dossier-ep, .2);
        border-color: $epo-color-dossier-ep;

        .language {
            background: $epo-color-dossier-ep;
        }
    }

    &.type-europct {
        background-color: rgba($epo-color-dossier-europct, .2);
        border-color: $epo-color-dossier-europct;

        .language {
            background: $epo-color-dossier-europct;
        }
    }

    &.type-pct {
        background-color: rgba($epo-color-dossier-pct, .2);
        border-color: $epo-color-dossier-pct;

        .language {
            background: $epo-color-dossier-pct;
        }
    }

    &.type-bo {
        background-color: rgba($epo-color-dossier-bo, .2);
        border-color: $epo-color-dossier-bo;

        .language {
            background: $epo-color-dossier-bo;
            color: $color-white;
        }
    }

    &.type-co {
        background-color: rgba($epo-color-dossier-co, .2);
        border-color: $epo-color-dossier-co;

        .language {
            background: $epo-color-dossier-co;
        }
    }

    &.type-fa {
        background-color: rgba($epo-color-dossier-fa, .2);
        border-color: $epo-color-dossier-fa;

        .language {
            background: $epo-color-dossier-fa;
        }
    }

    &.type-go {
        background-color: rgba($epo-color-dossier-go, .2);
        border-color: $epo-color-dossier-go;

        .language {
            background: $epo-color-dossier-go;
        }
    }

    &.type-io {
        background-color: rgba($epo-color-dossier-io, .2);
        border-color: $epo-color-dossier-io;

        .language {
            background: $epo-color-dossier-io;
        }
    }

    &.type-lo {
        background-color: rgba($epo-color-dossier-lo, .2);
        border-color: $epo-color-dossier-lo;

        .language {
            background: $epo-color-dossier-lo;
        }
    }

    &.type-no {
        background-color: rgba($epo-color-dossier-no, .2);
        border-color: $epo-color-dossier-no;

        .language {
            background: $epo-color-dossier-no;
            color: $color-white;
        }
    }

    &.type-mo {
        background-color: rgba($epo-color-dossier-mo, .2);
        border-color: $epo-color-dossier-mo;

        .language {
            background: $epo-color-dossier-mo;
            color: $color-white;
        }
    }

    &.type-sn {
        background-color: rgba($epo-color-dossier-sn, .2);
        border-color: $epo-color-dossier-sn;

        .language {
            background: $epo-color-dossier-sn;
            color: $color-white;
        }
    }

    &.type-fs {
        background-color: rgba($epo-color-dossier-fa, .2);
        border-color: $epo-color-dossier-fa;

        .language {
            background: $epo-color-dossier-fa;
            // padding: 0 .25em 0 calc(.25em + 2px);

            &:after {
                @include borders-end-cap;
                background: $epo-color-dossier-fs;
                content: ' ';
                height: 22px;
                right: -1px;
                position: absolute;
                top: -1px;
                width: 4px;
            }
        }
    }

    &.type-to {
        background: $color-white;
        border-color: $epo-color-dossier-to;

        .language {
            background: $epo-color-dossier-to;
            color: $color-white;
        }
    }

    &.type-lt {
        background: $color-white;
        border-color: $epo-color-dossier-lt;

        .language {
            background: $epo-color-dossier-lt;
            color: $color-white;
        }
    }
}


// Phases
// INFO: Phases come in the following five options
.phase {
    .phase-search & {
        background: $epo-color-phase-search;
    }
    .phase-exam & {
        background: $epo-color-phase-exam;
    }
    .phase-opposition & {
        background: $epo-color-phase-opposition;
    }
    .phase-appeal & {
        background: $epo-color-phase-appeal;
        color: $color-white;
    }
    .phase-limitation & {
        background: $epo-color-phase-limitation;
    }
}


// Doccodes / indicators
.doccode {
    border: 1px dashed $epo-color-doccode;
}