// PLACEHOLDERS
.placeholder {
	position: relative;

	&:after {
		@include borders-round;
		background: rgba($color-white, .9);
		border: 1px solid $color-gray-300;
		bottom: -1px;
		content: '';
		left: -1px;
		position: absolute;
		right: -1px;
		top: -1px;
		z-index: index($ui-levels, placeholders);
	}
	&:before {
		color: $color-gray-400;
		content: 'Click to preview panel';
		padding: 6px 8px;
		position: absolute;
		left: 1px;
		top: 1px;
		z-index: index($ui-levels, placeholder-text);
	}
	&[data-placeholder-text]:before {
		content: attr(data-placeholder-text);
	}

	&.inline-placeholder {
		&:before {
			display: none;
		}
		&:after {
			background: rgba($color-white, .8);
			border: 1px solid rgba($color-orange-600, .2);
			top: -4px;
			left: -4px;
			right: -4px;
			bottom: -4px;
		}
		&.col:after {
			right: 8px;
		}
	}


	&.placeholder-reveal {
		&:after {
			background: rgba($color-orange-600, .1);
			border: 2px solid $color-orange-500;
		}
		&:before {
			background: $color-orange-600;
			color: $color-white;
			content: none;
		}
		&[data-placeholder-text]:before {
			content: attr(data-placeholder-text);
		}
		&[data-placeholder-text-detail]:before {
			content: attr(data-placeholder-text-detail);
		}
	}
}